<h1>Listing words</h1>

<table class="table">
  <tr>
    <th>Text</th>
    <th>Translation</th>
    <th>Ipa</th>
    <th>Example</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%= word.text %></td>
    <td><%= word.translation %></td>
    <td><%= word.ipa %></td>
    <td><%= word.example %></td>
    <td><%= link_to 'Edit', edit_language_word_path(word.language, word) %></td>
    <td><%= link_to 'Destroy', [word.language, word], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to(new_language_word_path(@language), :class => "button") do %>
	<%= image_tag "/images/web-app-theme/icons/add.png" %>
	New Word
<% end %>
