<!DOCTYPE html>
<html>
<head>
  <title>Lexi</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container" class="wat-cf">
    <%= render 'layouts/header' %>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
				<div class="block">
					<div class="content">
							<div class="inner">
        				<%= yield %>
					</div>
				</div>
				</div>
      </div>
    </div>
    <%= render 'layouts/footer' %>

  </div>
</body>
</html>
